

  
      <h2>Initiate Authentication - Cross device</h2>


      <body>
            <mat-grid-list cols="2" rowHeight="1:1">
                 
                  <h4>Scan the QR code with the Wallet app or mobile QR code scanner.</h4>

              <mat-grid-tile>                       
                <div class="container">
                  <!-- Right -->
                  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="right  right">
                    <img src="assets/qr/ID3.png" width="400"  alt="Angular Authentication" />
                  </div>
                </div>
              </mat-grid-tile> 
  
            </mat-grid-list> 
            <h4>The Conformance mock API will redirect to <u>openid://initiate_issuance?.</u>which should be handled by the wallet.</h4>

      </body>


