<body>
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div class="container">
      <tr>
        <a style="font-size:50px;color:rgba(4, 248, 211, 0.908)">Wallet</a><a style="font-size:50px;color:rgba(248, 4, 142, 0.908)">  Accordance</a>
      </tr>
      <div class="btn1"></div>
      <tr>
        <a style="font-size:20px;color:rgba(191, 4, 248, 0.908)">Ensure your wallet is interoperable and conformant with the specifications</a>
      </tr>
      <tr>
        <div class="btn1"></div><a style="font-size:20px;color:rgba(4, 8, 248, 0.908)"> defined by NEXTClan.</a>
      </tr>
      <div class="btn1"></div>
      <tr>
        <a style="font-size:80px;color:rgba(4, 216, 248, 0.908)">How to </a><a style="font-size:100px;color:rgba(248, 53, 4, 0.908)"  href="http://localhost:4200/add-new-course"><u>  tHinิg้ </u></a>
      </tr> 
      <tr>
          <img src="assets/click.gif" width="350"   alt="Angular Authentication"/>
      </tr>
     </div>  
  </mat-grid-tile>
  <mat-grid-tile>                       
    <div class="container">
      <!-- Right -->
      <div class="login-wrapper" fxLayout="row" fxLayoutAlign="right  right">
        <img src="assets/walletThree.jpg" width="1200"  alt="Angular Authentication" />
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>                       
    <div>
          <button mat-mini-fab routerLink="/add-new-course"
            [matTooltip]="'Create a course'" matTooltipPosition="above"
            [matTooltipShowDelay]="1000"
            [matTooltipHideDelay]="2000"
            [matTooltipDisabled]="true">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
    </div>
  </mat-grid-tile>

</mat-grid-list> 
</body>

<style>
  .btn1 {
    background: "";
    border: solid 1px None;
    border-radius: 8px;
    color: rgb(153, 153, 158);
    padding: .75rem 1.5rem;
    width:100px;
    height:200;
  }
</style>


