

  
      <h2>Initiate Authentication-Same device</h2>


      <body>
            <mat-grid-list cols="2" rowHeight="1:1">
                  <h4>Click on the link below to trigger the authentication request on the same device where the Wallet app is installed.</h4>

                  <h4>This step doesn't work in a browser on desktop.</h4>
              <mat-grid-tile>                       
                <div class="container">
                  <!-- Right -->
                  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="right  right">
                        <button  mat-raised-button color="accent" href="https://qr-open.it/g/4ceBkGgbQ6l"><a href="https://qr-open.it/g/4ceBkGgbQ6l">openid::Authentication</a></button>
                  </div>
                </div>
              </mat-grid-tile>    
  
            </mat-grid-list> 
            <h4>The Conformance mock API will redirect to <u>https://qr-open.it/g/4ceBkGgbQ6l</u>  which should be handled by the wallet.</h4>

           
      </body>


