
<style>
      .btnXC {
        background: "";
        border: solid 1px None;
        /* background: linear-gradient(180deg, #6C8FFF 0%, #2A4395 35%, #09184B 100%); */
        border-radius: 8px;
        color: rgb(153, 153, 158);
        padding: .75rem 1.5rem;
        width:500px;
        height:300px;
      }
      .btnXK {
        background: "";
        border: solid 1px None;
        /* background: linear-gradient(180deg, #6C8FFF 0%, #2A4395 35%, #09184B 100%); */
        border-radius: 8px;
        color: rgb(153, 153, 158);
        padding: .75rem 1.5rem;
        width:100px;
        height:100px;
      }
      .btnXL {
        background: "";
        border: solid 1px #cd0bc0;
        /* background: linear-gradient(180deg, #6C8FFF 0%, #2A4395 35%, #09184B 100%); */
        border-radius: 8px;
        color: rgb(153, 153, 158);
        padding: .75rem 1.5rem;
        width:640px;
        height:300px;
      }
      .btnXD {
            background: "";
            border: solid 1px None;
            border-radius: 8px;
            padding: .75rem 1.5rem;
            width:640px;
            height:300px;
          }
      .btn1 {
        background: "";
        border: solid 1px None;
        border-radius: 8px;
        color: rgb(153, 153, 158);
        padding: .75rem 1.5rem;
        width:200px;
        height:10;
      }
      .btn2 {
            background: "";
            border: solid 1px None;
            border-radius: 8px;
            color: rgb(153, 153, 158);
            padding: .75rem 1.5rem;
            width:400px;
            height:10;
          }
</style>
  
      <h2>Logs</h2>


      <body>
            <div class="container">
                  <tr>
                    <td>
                      <div class="btnXK"></div>
                    </td>
                    <div class="btn2"></div>
                    <td>
                      <div class="btnXD">
                        <tr>
                              <img src="assets/qr/ID4.png" width="250"  alt="Angular Authentication" />
                        </tr>
                      </div>
                    </td>
                  <tr>        
            </div>
           
      </body>
      <body>
  
             <div class="container">
                <tr>
                  <td>
                    <div class="btnXK"></div>
                  </td>
                  <div class="btn1"></div>
                  <td>
                    <div class="btnXL">
                      <tr>
                      <h1 href="javascript:void(0)" style="color:rgba(4, 37, 248, 0.908)">Congratulations, both process are done!</h1>
                      </tr>
                      <tr>
                        <h3 href="javascript:void(0)" style="color:rgba(15, 16, 16, 0.908)">Now that you have completed all the steps of the "Issue credential" and</h3>
                      </tr>
                      <tr>
                        <h3 href="javascript:void(0)" style="color:rgba(10, 10, 10, 0.908)"><b>"Verify Credential", both process are done, Merci Beaucoup.</b></h3>
                      </tr>
                    </div>
                    <div class="btnXK"></div>
                  
                  </td>
                <tr>        
              </div>
      

          
</body>





