
<div class="courses-panel">

  <div class="header">

    <h2 class="title">Authentication</h2>

    <!-- <button mat-mini-fab routerLink="/add-new-course"
            [matTooltip]="'Create a course'" matTooltipPosition="above"
            [matTooltipShowDelay]="1000"
            [matTooltipHideDelay]="2000"
            [matTooltipDisabled]="true">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button> -->

  </div>
      <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
          </mat-card-header>
          <form class="example-form">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" readonly>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" readonly>
              </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block"><a href="http://localhost:4200/mnemonic">Log in</a></button>
            <h5 style="color:red">To proceed with the transaction, please press the btn**</h5>    
          </form>
        </mat-card>
      </div>
</div>

