

  
      <h2>Initiate Issuance-Cross device</h2>


      <body>
            <mat-grid-list cols="2" rowHeight="1:1">
                  <h4>This step is used to pass available information relevant for the credential issuance to ensure a convenient and secure process.</h4>

                  <h4>Scan the QR code with the Wallet app or mobile QR code scanner.</h4>
              <mat-grid-tile>                       
                <div class="container">
                  <!-- Right -->
                  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="right  right">
                    <img src="assets/qr/ID1.png" width="400"  alt="Angular Authentication" />
                  </div>
                </div>
              </mat-grid-tile> 
  
            </mat-grid-list> 
            <h4>The wallet must be able to open the link starting with <u>openid://initiate_issuance?.</u></h4>

            <h4>The wallet is not supposed to create a response.</h4>

            <h4>Save the URL of <u>credential_type</u> for later: you will need it to request the VC.</h4>
      </body>


