

  
      <h2>VP validator</h2>


      <body>
            <mat-grid-list cols="2" rowHeight="1:1">
                 
                  <h4>Scan the QR code with the Wallet app or mobile QR code scanner.</h4>  
                  <h4>Validate a Verifiable Presentation (VP) using the from NEXTClan Decentralized Identifiers (DIDs)</h4>  

            
              <mat-grid-tile>                       
                <div class="container">
                  <!-- Right -->
                  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="right  right">
                    <img src="assets/qr/VP.png" width="400"  alt="Angular Authentication" />
                  </div>
                </div>
              </mat-grid-tile> 
  
            </mat-grid-list> 
            <h4>Validate a Verifiable Presentation (VP) using the from NEXTClan Decentralized Identifiers (DIDs)</h4>    

      </body>


