

  
      <h2>Issuance Initiation-Same-device</h2>


      <body>
            <mat-grid-list cols="2" rowHeight="1:1">
                  <h4>This step is used to pass available information relevant for the credential issuance to ensure a convenient and secure process.</h4>

                  <h4>Trigger the credential issuance initiation:</h4>
              <mat-grid-tile>                       
                <div class="container">
                  <!-- Right -->
                  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="right  right">
                        <button  mat-raised-button color="accent" href="https://qr-open.it/g/4ceBkGgbQ6l"><a href="https://qr-open.it/g/4ceBkGgbQ6l">openid::Authentication</a></button>
                  </div>
                </div>
              </mat-grid-tile>    
  
            </mat-grid-list> 
            <h4>The wallet must be able to open the link starting with <u>https://qr-open.it/g/4ceBkGgbQ6l</u></h4>

            <h4>The wallet is not supposed to create a response.</h4>

            <h4>Save the URL of <u>credential_type</u> for later: you will need it to request the VC.</h4>
      </body>


